#header{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align : center;
    border: 1px groove #ff9966;
    border-radius:3px;
    background-color: #ff9966; 
    color: red;
    width:auto;
    padding-top: 0px;
    
}
#search, #searchAll{
    border-radius:1px;
    color:black;
    font-family: cursive;
}
#instructions{
    font-family:cursive;
    font-size:10px;
    color:grey;
    
}
p{
    font-family: sans-serif;
    font-size: 10px;
    color:grey;
}
.container{

  position:absolute;
  margin-top:100px;
  margin-left: 400px;
  width: 40%;
  border: 4px groove #ff9966 ;
  border-radius: 3px;
  padding-top: 0px;
}
#res{ 
    font-family:cursive;
}